xst/work/sub00/vhpl06.vho
xst/work/sub00/vhpl05.vho
xst/work/sub00/vhpl04.vho
xst/work/sub00/vhpl03.vho
xst/work/hdllib.ref
_xmsgs/pn_parser.xmsgs
CPU_xst.xrpt
CPU_vhdl.prj
CPU_summary.html
xst/work/sub00/vhpl14.vho
xst/work/sub00/vhpl13.vho
xst/work/sub00/vhpl12.vho
xst/work/sub00/vhpl11.vho
xst/work/sub00/vhpl02.vho
webtalk_pn.xml
iseconfig/CPU.xreport
_xmsgs/xst.xmsgs
xst/work/sub00/vhpl10.vho
xst/work/sub00/vhpl09.vho
xst/work/sub00/vhpl08.vho
xst/work/sub00/vhpl07.vho
xst/work/sub00/vhpl01.vho
xst/work/sub00/vhpl00.vho
xst/work/hdpdeps.ref
CPU_envsettings.html
CPU.xst
CPU.syr
CPU.lso
CPU.gise
CPU.cmd_log
CPU.prj
iseconfig/CPU.projectmgr
*.vho
*.prj
*.xst
*.stx
*.lso
netgen/synthesis/CPU_synthesis.vhd
*.nlf
*.ngc
*.xmsgs
*.ngr
*.bld
*.ncd
*.ngd
*.pad
*.twx
*.ptwx
*.pcf
*.par
*.twr
*.xbcd
*.log
*.tcl
*.lst
*.xml
*.xrpt
*.txt
*.csv
*.ngm
*.mrp
*.map
*.xwbt
*.xpi
*.unroutes
*.html
*.bit
*.bgn
*.xise
*.drc
